{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% if blog %}
    <div class="blog-detail-container">
    <h1 class="blog-detail-title">{{blog.title}}</h1>
    <div class="blog-detail-info">
    <p class="sub-detail-info">by Mark Forte at {{blog.createdAt}}</p>
    </div>
    <div class="blog-image-container">
    <figure>
    <img class="blog-detail-image" src="{{blog.imageUrl}}"></img>
    <figcaption><p class="blog-detail-image-caption">{{blog.imageCaption}}</p></figcaption>
    </figure>
    </div>
    <div>{{blog.body|safe}}</div>
    </div>
{% else %}
    <p>Sorry something went wrong.</p>
{% endif %}

{% endblock %}