{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/css/navbar.css' %}">

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a class="logo-link" href="/">The Developer's Journey</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="https://github.com/mforte215" target="_blank">Learn More</a>
    <a href="/" target="_blank">Contact</a>
  
  </div>
</div>